@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal {
    position: absolute;
    top: 7px;
    left: 12px;
    min-height: 390px;
    max-height: 450px;
    width: 970px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    z-index: 10;
    animation: slideDown 0.5s ease;
}

.modal-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px 40px;
    // max-height: 100%;

    img {
        width: 100%;
    }

    .modal-btn_tranparent {
        position: absolute;
        background: transparent;

        &.btn-1 {
            width: 430px;
            height: 130px;
            top: 38px;
            right: 170px;
        }

        &.btn-2 {
            width: 600px;
            height: 200px;
            top: 170px;
            right: 60px;
        }
    }
}

.modal-close {
    position: absolute;
    top: 2px;
    right: 4px;
    width: 25px;
    height: 25px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 11;
}

.hearder {
    width: 100%;

    h2 {
        font-size: 1.4rem;
        text-align: center;
        color: #4E4FC2;
        text-transform: uppercase;
    }
}

.hearder-date {
    display: flex;
    width: 30%;
    margin: 0 auto;

    h4 {
        font-size: 1rem;
        height: 37px;
        line-height: 37px;
        margin: 0;
    }

    input {
        margin-left: 10px;
    }
}

.hearder-title {
    width: 700px;
    display: flex;
    justify-content: space-around;
    float: right;
    margin-top: 10px;

    h4 {
        font-size: 1rem;
        font-weight: 600;
        height: 37px;
        line-height: 37px;
    }
}

.body {
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: space-between;

    .body-btn {
        flex: 30%;
    }

    .body-bar {
        flex: 50%;
        border: 2px solid #F2EC8A;
    }
}

.list-container {
    margin: 0;
    margin-right: 4px;
    padding: 0;

    .list-item_btn {
        font-size: 1rem;
        font-weight: 600;
        width: 70%;
        margin-bottom: 10px;
        background: #6ECEF7;
        padding: 5px 20px;
        border: 2px solid #3B5DBD;
        border-radius: 10px;
        text-transform: uppercase;
    }

    .list-item_btn:focus {
        background-color: #02FF00;
    }
}